language: node_js
node_js:
- 6
- 8
- 10
- lts/*
script: gulp test
before_install:
- mkdir -p .npm
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
notifications:
  slack:
    secure: Bu3OZ0Cdy8eq0IMoLJmadDba8Yyb9ajobKocfp8V7/vfOjpIVXdFrGMqfckkZ22uiWxHCsYEX1ahQ77zTjbO3tNq1CTmSgEAWaqqMVz1iIVNhSoeHRfYDa9r1sKFpJv1KEz+j/8i2phcR5MDE6cGK+byJmjfjcnkP1XoNiupuck=
before_deploy:
  - gulp build
deploy:
  provider: npm
  email: npm@stellar.org
  api_key:
    secure: Fiob77sZqBBASNHL+0+P83M+FIAjEhtWsXa2zF1rgGo6QKacgVLPq/9ue5b/eApJd07RdtQyxHC+f2DXuGqxgVvouylHGe+ozeNgW86vFQJQ3GT8PFUDNrMIIi+9W8Hl6B1p3nFWZVvnuvJU51VyT93MWJgypreSVFYSWpNsPmU=
  skip_cleanup: true
  on:
    tags: true
    repo: stellar/js-xdr
    branch: master
